*{
	box-sizing:border-box;
}
body{
	padding:0;
	margin:0;
}
#unauthorize{
	position:relative;
	height:100vh;
}
#unauthorize .unauthorize{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}
.unauthorize{
	max-width:520px;
	width:100%;
	line-height:1.4;
	text-align:center;
}
.unauthorize .unauthorize-401{
	position:relative;
	height:240px;
}
.unauthorize .unauthorize-401 h1{
	font-family:'Montserrat', sans-serif;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	font-size:252px;
	font-weight:900;
	margin-top:25px;
	color:#262626;
	text-transform:uppercase;
	letter-spacing:-40px;
	margin-left:-20px;
}
.unauthorize .unauthorize-401 h1>span{
	text-shadow:-8px 0px 0px #fff;
}
.unauthorize .unauthorize-401 h3{
	font-family:'Cabin', sans-serif;
	position:relative;
	font-size:20px;
	font-weight:700;
	text-transform:uppercase;
	color:#262626;
	letter-spacing:3px;
	padding-left:6px;
}
.unauthorize h2{
	font-family:'Cabin', sans-serif;
	font-size:20px;
	font-weight:700;
	text-transform:uppercase;
	color:#262626;
	letter-spacing:3px;
	padding-left:6px;
	margin-top:15px;
}
@media only screen and (max-width:767px){
.unauthorize .unauthorize-401{
	height:200px;
}
.unauthorize .unauthorize-401 h1{
	font-size:200px;
}
}
@media only screen and (max-width:480px){
.unauthorize .unauthorize-401{
	height:162px;
}
.unauthorize .unauthorize-401 h1{
	font-size:162px;
	height:150px;
	line-height:162px;
}
.unauthorize h2{
	font-size:16px;
}
.unauthorize .unauthorize-401 h3{
	font-size:16px;
}
}